body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
/* Header*/

.header {
  position: relative;
  text-align: center;
  background: #800000; /*BORDEAUX*/
  color: white;
}
h1 {
  font-family: "LCD2", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.inner-header {
  height: 16vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 60px;
  max-height: 110px;
}

.content {
  position: relative;
  /*height: 20vh;*/
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* Navbar*/
nav {
  margin: 27px auto 0;
  position: relative;
  height: 50px;
  background-color: #800000;
  border-radius: 8px;
  font-size: 0;
  font-family: "LCD2";
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  background-color: #800000; /* Colore di sfondo predefinito */
}
nav a:nth-child(1) {
  width: 100px;
}

nav a:nth-child(2) {
  width: 230px;
}

nav a:nth-child(3) {
  width: 80px;
}

nav a:nth-child(4) {
  width: 130px;
}

nav a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #cb8777;
}

nav a:nth-child(2):hover ~ .animation {
  width: 230px;
  left: 100px;
  background-color: #cb8777;
}

nav a:nth-child(3):hover ~ .animation {
  width: 80px;
  left: 330px;
  background-color: #cb8777;
}

nav a:nth-child(4):hover ~ .animation {
  width: 130px;
  left: 410px;
  background-color: #cb8777;
}

/*Contenuto mid*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.research-filter,
.content-results {
  margin: 6px;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
  line-height: 100px;
}

/*zona di ricerca a sx*/
.research-filter {
  background-color: transparent;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  flex: 0 0 29%;
  display: flex;
  align-items: center;
  flex-direction: column; /* Allinea gli elementi verticalmente */
}

.research-filter form {
  /*contenitore filtri*/
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi verticalmente */
  margin-top: 20px;
}

.research-filter form * {
  /*tutti gli elementi figlio nel form*/
  margin: 20px; /* Distanza tra i filtri */
}

.research-filter .search-box,
.research-filter .custom-select,
.research-filter .date-pick {
  margin-bottom: 10px; /* Distanza tra i filtri */
  width: 200px; /* Larghezza uniforme */
}

.research-filter .search-box {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
}

.research-filter .search-box:focus {
  border-bottom: 1px solid #800000;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.ui-datepicker-calendar {
  font-size: 12px; /* Cambia la dimensione del testo */
}
.ui-datepicker-calendar select.ui-datepicker-month,
.ui-datepicker-calendar select.ui-datepicker-year {
  width: 50px; /* Ridimensiona i menu a discesa del mese e dell'anno */
}

.buttons-container {
  display: flex; /* Utilizza Flexbox */
  justify-content: space-between; /* Spazia gli elementi uniformemente lungo la riga */
  width: 100%; /* Assicura che il div occupi l'intera larghezza disponibile */
}

/*.search-button,
.add-button {
  padding: 8px 20px; 
  border-radius: 20px; 
  border: none; 
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.search-button {
  background-color: #9fd3c7;
  color: black;
}

.search-button:hover {
  background-color: #ececec;
}

.add-button {
  background-color: #800000;
  color: #ddd;
}

.add-button:hover {
  background-color: #a94133;
}*/

.search-button,
.add-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.8em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.add-button {
  border: 2px solid #800000;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #800000 inset;
  }
}

.search-button {
  border: 2px solid blue;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
    color: blue;
  }
}

/* Stile generale del select */
.custom-select {
  display: inline-block;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 32px 8px 12px;
  background-color: #fff;
  cursor: pointer;
}

/* Stile al passaggio del mouse */
.custom-select:hover {
  border-color: #999; /* Cambia il colore del bordo al passaggio del mouse */
}

/* Stile al focus */
.custom-select:focus {
  outline: none; /* Rimuove il bordo di focus */
  border: 1px solid #800000;
}

/* Stile per gli option */
.custom-select option {
  font-size: 14px;
}

/*Zona di contenuto (tabelle) a dx*/
.content-results {
  background-color: white;
  flex: 0 0 69%;
  max-height: 80vh; /* altezza massima del contenuto con scorrimento */
  overflow: auto; /* abilita lo scorrimento all'interno del div se necessario */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Modifica l'orientamento dei contenitori su dispositivi mobili */
  }

  .research-filter,
  .content-results {
    flex: 100%; /* Entrambi i contenitori occupano tutta la larghezza */
  }
  .research-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px; /* Aggiunto padding per spaziatura */
  }
  .content-results {
    order: -1; /* Cambia l'ordine dei contenitori per mettere prima la barra di ricerca */
  }
}

/* Stile per la tabella */
.table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

/* Stile per l'header della tabella */
table tr.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Stile per il contenuto della tabella */
.table th,
.table td {
  padding: 6px;
  text-align: center;
}
/* prova, stile più minimal
.table td {
  border: 1px solid #ddd; 
}
*/
.table th:first-child {
  border-top-left-radius: 10px; /* Arrotonda l'angolo superiore sinistro */
}

.table th:last-child {
  border-top-right-radius: 10px; /* Arrotonda l'angolo superiore destro */
}

tbody tr:first-child td {
  border-top: none; /* Rimuove il bordo superiore dalla prima riga dei dati */
}

@media screen and (max-width: 760px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th,
  td {
    padding: 6px;
    border: none;
  }

  th:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
  }
  th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #800000;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.email-section {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.email-section p {
  /*mail*/
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.email-section svg {
  /*icona*/
  position: relative;
  top: 5px;
}
.email-section a {
  text-decoration: none; /* Rimuovi la sottolineatura */
  color: inherit; /* Utilizza il colore ereditato */
}
