:root {
  --primary-color: #800000; /* Bordeaux */
  --secondary-color: #ffae90; /*Rosino in palette*/
  --background-color: #ecd9d9; /* Grigio chiaro */
  --text-color1: #333; /* Grigio scuro */
  --light-text-color: #9d7575; /*Grigio*/
  --accent-color: #e74c3c; /* Rosso */
  --white-color: #fbfcff; /* Bianco */
  --border-primary-color: #ccc;
  --border-secondary-color: #999;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --black-color: #0c0c0c; /*Black Oil*/
  --black-transparent-color: rgba(12, 12, 12, 0.4);
  --gradient-bg: linear-gradient(
    135deg,
    transparent,
    var(--primary-color),
    var(--secondary-color)
  ); /* Gradiente */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}
/* Header*/

.header {
  position: relative;
  text-align: center;
  background: var(--primary-color);
  color: var(--white-color);
}
h1 {
  font-family: "LCD2", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}

h3 {
  font-family: "LCD2";
  font-weight: normal;
  font-style: normal;
}
.change-color:hover {
  color: var(--primary-color);
}

.inner-header {
  height: 12vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 70px;
  max-height: 100px;
}

.content {
  position: relative;
  /*height: 20vh;*/
  text-align: center;
  background-color: var(--white-color);
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.cliccabile {
  text-decoration: none;
  color: inherit;
}
.cliccabile:hover {
  cursor: pointer;
}

.icon-pencil,
.icon-bin {
  height: 20px;
  width: 20px;
  transition: opacity 0.3s ease;
}

.cliccabile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cliccabile:hover .icon-pencil,
.cliccabile:hover .icon-bin {
  opacity: 0.5;
}

.cliccabile:hover::after {
  opacity: 1;
}

.icon-pencil + .cliccabile::after {
  content: url("icons/pencil.png");
}

.icon-bin + .cliccabile::after {
  content: url("icons/bin-hover.png");
}

/*Home*/
/* Stile per il container */
#containerHome {
  position: relative; /* Imposta il contesto di posizionamento per gli elementi figlio */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centra il testo all'interno degli elementi */
  padding: 20px;
  padding-bottom: 10px;
  height: 75vh;
  width: 80%; /* Regola la larghezza del container */
  max-width: fit-content; /* Larghezza massima del container */
  white-space: wrap;
  overflow-x: hidden;
  margin: 5vh auto; /* Centra il container orizzontalmente */
  margin-bottom: 12vh;
  background-color: var(--background-color); /* Colore di sfondo */
  border-radius: 10px; /* Angoli arrotondati */
  box-shadow: 0 4px 8px var(--shadow-color);
}

/* Stile per l'elemento h3 */
.container h3 {
  font-size: 1.5em; /* Dimensione del font del titolo */
  color: var(--text-color1); /* Colore del testo del titolo */
  flex-shrink: 0; /* Impedisce al titolo di ridursi */
  margin: 0;
}

/* Stile per il paragrafo */
.container p {
  font-size: 1.1em; /* Dimensione del font del paragrafo */
  line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
  color: var(--text-color1); /* Colore del testo del paragrafo */
  max-width: 45vw;
  overflow-y: auto; /* Permette lo scorrimento verticale */
  word-wrap: break-word; /* Impedisce il taglio delle parole */
  text-align: left;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.container p::-webkit-scrollbar {
  display: none; /* Nasconde la barra di scorrimento */
}

/* Navbar*/
nav {
  margin: 27px auto 0;
  position: relative;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 8px;
  font-size: 0;
  font-family: "LCD2";
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  background-color: var(--primary-color); /* Colore di sfondo predefinito */
}
nav a:nth-child(1) {
  width: 100px;
}

nav a:nth-child(2) {
  width: 230px;
}

nav a:nth-child(3) {
  width: 80px;
}

nav a:nth-child(4) {
  width: 130px;
}

nav a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}

nav a:nth-child(2):hover ~ .animation {
  width: 230px;
  left: 100px;
  background-color: var(--background-color);
}

nav a:nth-child(3):hover ~ .animation {
  width: 80px;
  left: 330px;
  background-color: var(--background-color);
}

nav a:nth-child(4):hover ~ .animation {
  width: 130px;
  left: 410px;
  background-color: var(--background-color);
}

/*Contenuto mid*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 300px);
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 40px;
  white-space: nowrap;
}

.research-filter,
.content-results {
  margin: 6px;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
  line-height: 100px;
}

/*zona di ricerca a sx*/
.research-filter {
  background-color: var(--background-color);
  border-radius: 15px;
  margin-bottom: 40px;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; /* Allinea gli elementi verticalmente */
}

.research-filter form {
  /*contenitore filtri*/
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi verticalmente */
  margin-top: 20px;
}

.research-filter form * {
  /*tutti gli elementi figlio nel form*/
  margin: 13px; /* Distanza tra i filtri */
}

.research-filter .search-box,
.research-filter .custom-select,
.research-filter .date-pick,
.research-filter .select-box {
  margin-bottom: 10px; /* Distanza tra i filtri */
  width: 200px; /* Larghezza uniforme */
}

.research-filter .search-box,
.research-filter .select-box,
.modal .modal-input,
.modal .modal-select {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  color: var(--light-text-color);
  border: 1px solid var(--border-primary-color);
  border-radius: 10px;
  background-color: var(--white-color);
  cursor: pointer;
}
select.select-box {
  width: 213.6px !important;
}

.search-box:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}

/* Stile al passaggio del mouse */
.search-box:hover,
.select-box:hover {
  border-color: var(
    --border-secondary-color
  ); /* Cambia il colore del bordo al passaggio del mouse */
}

/* Stile al focus */
.select-box:focus {
  outline: none; /* Rimuove il bordo di focus */
  border: 1px solid var(--primary-color);
}

/* Stile per gli option */
.select-box option {
  font-size: 14px;
  color: var(--text-color1);
}
.select-box:hover {
  border-color: var(
    --border-secondary-color
  ); /* Cambia il colore del bordo al passaggio del mouse */
}

.research-filter .search-box:focus {
  border-bottom: 1px solid var(--primary-color);
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.buttons-container {
  display: flex; /* Utilizza Flexbox */
  justify-content: space-between; /* Spazia gli elementi uniformemente lungo la riga */
  margin: auto;
}

.search-button,
.add-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.8em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: var(--white-color);
    outline: 0;
  }
}

.add-button {
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px var(--primary-color) inset;
  }
}

.search-button {
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 0 30px 30px var(--primary-color) inset,
    0 0 0 0 var(--primary-color);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 3px 0 var(--primary-color) inset,
      0 0 3px 1px var(--primary-color);
    color: var(--primary-color);
  }
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  appearance: initial;
  -moz-appearance: textfield;
}

/*Zona di contenuto (tabelle) a dx*/
.content-results {
  background-color: var(--white-color);
  flex: 0 0 70%;
  height: 95%;
  overflow: auto; /* abilita lo scorrimento all'interno del div se necessario */
  margin-bottom: 40px;
}

/* Stile per la tabella */
.table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

/* Stile per l'header della tabella */
table tr.header {
  position: sticky;
  top: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
}
th.th-cursor-pointer {
  cursor: pointer;
}
/*animazione glow
th.th-cursor-pointer:hover {
  color: white;
  text-shadow: 0px 0px 15px white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}*/

/* Stile per il contenuto della tabella */
.table th,
.table td {
  padding: 6px;
  text-align: center;
}
/* prova, stile più minimal
.table td {
  border: 1px solid #ddd; 
}
*/
.table th:first-child {
  border-top-left-radius: 10px; /* Arrotonda l'angolo superiore sinistro */
}

.table th:last-child {
  border-top-right-radius: 10px; /* Arrotonda l'angolo superiore destro */
}

tbody tr:first-child td {
  border-top: none; /* Rimuove il bordo superiore dalla prima riga dei dati */
}

.table .rowEven {
  background-color: var(--background-color);
}

.table .rowOdd {
  background-color: var(--white-color);
}

.table tr.header th {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.table th:not(:first-child) {
  background-color: var(--background-color);
}
.table td a {
  color: inherit;
}

.warning {
  color: var(--primary-color);
  font-weight: bold;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--black-transparent-color);
  backdrop-filter: blur(5px); /* Aggiunge sfocatura */
  -webkit-backdrop-filter: blur(5px); /* Supporto per Safari */
}

h3.modal-title {
  border-radius: 10px;
  font-size: 24px;
  background-color: var(--background-color);
  padding: 1.1rem;
}

/* Stile per il contenitore del modal */
.modal-content {
  background-color: var(--background-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--border-primary-color);
  width: 40%;
  border-radius: 15px;
}

.close {
  color: var(--primary-color);
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black-color);
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-input:focus {
  border: 1px solid var(--primary-color);
  transition: 0.5s;
}

.modal .modal-input:hover {
  border-color: var(--border-secondary-color);
}

/* Stile al passaggio del mouse */
.modal-select:hover {
  border-color: var(
    --border-secondary-color
  ); /* Cambia il colore del bordo al passaggio del mouse */
}

/* Stile al focus */
.modal-select:focus {
  outline: none; /* Rimuove il bordo di focus */
  border: 1px solid var(--primary-color);
  transition: 0.5s;
}

/* Stile per gli option */
.modal-select option {
  font-size: 14px;
  color: var(--text-color1);
}

.table-blur {
  filter: blur(0.1px);
  opacity: 1;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 9px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin-top: 5vh;
}

.email-section {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.email-section p {
  /*mail*/
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.email-section svg {
  /*icona*/
  position: relative;
  top: 5px;
}
.email-section a {
  text-decoration: none; /* Rimuovi la sottolineatura */
  color: inherit; /* Utilizza il colore ereditato */
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
}
/*Onde Header*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
/*Home*/
@media (max-width: 768px) {
  #containerHome {
    padding: 20px;
    margin: 3vh 0;
    max-height: 60vh; /* Limita l'altezza del container per consentire lo scorrimento */
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    box-sizing: border-box;
    gap: 15px;
  }

  .container h3 {
    font-size: 1.5rem;
    position: sticky;
    left: 0;
    transform: none;
  }

  .container p {
    font-size: 0.875rem;
    max-width: 65vw;
    max-height: 50vh;
    flex-shrink: 1;
  }

  .container p,
  .container h3 {
    margin: 0;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  #containerHome {
    max-width: 60vw;
    max-height: 55vh;
  }
}

/*Navbar*/
@media (max-width: 768px) {
  nav {
    position: sticky;
    margin: 2vh 2vw 2vh 2vw !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  nav > * {
    width: auto !important;
  }
  nav a {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    /*margin-inline: 5.8vw;*/
    flex-grow: 1; /* Gli elementi crescono proporzionalmente */
    flex-shrink: 1; /* Gli elementi possono restringersi se necessario */
    flex-basis: auto; /* La larghezza base dipende dal contenuto */
    text-align: center; /* Centro il testo all'interno degli elementi */
  }

  nav a.change-color:hover {
    color: var(--background-color);
    text-shadow: 0px 0px 30px var(--background-color);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  /* nav a:nth-child(1) {
    width: 18vw;
  }
  nav a:nth-child(2) {
    width: 30vw;
  }
  nav a:nth-child(3) {
    width: 15vw;
  }
  nav a:nth-child(4) {
    width: 20vw;
  } */
}

/*Content mid*/
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column; /* Modifica l'orientamento dei contenitori su dispositivi mobili */
    flex-wrap: nowrap;
    height: 65vh;
    margin-bottom: 2vh;
    justify-content: space-around;
    padding: 0;
    margin-top: 0;
  }

  /*Filtri di Ricerca*/
  .research-filter {
    flex: 0 0 29%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 1.5vh;
    max-width: fit-content;
    max-height: fit-content;
    padding: 8px;
  }
  .research-filter > * {
    font-size: 10px;
    padding: 2px;
  }
  .research-filter form * {
    margin: 4px;
  }
  .research-filter form {
    margin-top: 0;
  }
  .research-filter .search-box,
  .research-filter .custom-select,
  .research-filter .date-pick,
  .research-filter .select-box,
  .search-button,
  .add-button {
    font-size: 12px !important;
    margin-bottom: auto;
    width: 90%;
  }
  .research-filter .search-box,
  .research-filter .select-box,
  .modal .modal-input,
  .modal .modal-select {
    flex-shrink: 1;
    max-height: 30px;
  }

  .content-results {
    flex: 0 0 70%;
    -ms-overflow-style: none; /* Nasconde l'indicatore di scorrimento per IE e Edge */
    max-height: 50vh;
  }
  .content-results::-webkit-scrollbar {
    display: none; /* Nasconde l'indicatore di scorrimento per Chrome, Safari*/
  }
}
/*Tabella Risultati*/
@media screen and (max-width: 1200px) {
  .table th,
  .table td {
    /* Riduci le dimensioni delle colonne */
    padding: 6px;
    font-size: 12px;
  }

  /* Aggiungi una barra di scorrimento orizzontale alla tabella */
  .table {
    overflow-x: auto;
  }
}
/*Modal Inserimento*/
@media screen and (max-width: 1200px) {
  .modal-content {
    display: flex;
    width: 85%;
    max-height: fit-content;
    flex-direction: column;
    padding-top: 10px;
  }
  h3.modal-title {
    font-size: 20px;
    position: relative;
    margin: 0px 0px 20px 0px;
    padding: 0;
    align-self: center;
    overflow-wrap: normal;
  }
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  .modal-content label {
    font-size: 14px;
    margin-bottom: 5px; /* Spazio tra label e input */
    font-weight: bold; /* Esempio di stile per la label */
  }
  span.close {
    position: relative;
    align-self: flex-end;
  }
  div.modal-content button.search-button {
    width: fit-content;
    margin: 20px 0;
  }
  .modal-content input.modal-input,
  .modal-content select.modal-select {
    max-height: 45px;
  }
}
/*Footer*/
@media screen and (max-width: 768px) {
  footer {
    padding: 6px; /* Riduci il padding su dispositivi più piccoli */
    margin-top: 3vh;
  }

  .email-section {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    justify-content: space-between; /* Distribuisce uniformemente gli elementi lungo la riga */
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .email-section img {
    display: none;
  }

  .email-section p {
    margin: 0; /* Rimuove il margine predefinito */
    text-align: center; /* Centra il testo all'interno dei paragrafi */
  }
}
