body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}
/* Header*/

.header {
  position: relative;
  text-align: center;
  background: #800000; /*BORDEAUX*/
  color: white;
}
h1 {
  font-family: "LCD2", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}

h3 {
  font-family: "LCD2";
  font-weight: normal;
  font-style: normal;
}
.change-color:hover {
  color: #800000;
}

.inner-header {
  height: 12vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 70px;
  max-height: 100px;
}

.content {
  position: relative;
  /*height: 20vh;*/
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

.cliccabile {
  text-decoration: none;
  color: inherit;
}
.cliccabile:hover {
  cursor: pointer;
}

/*Home*/
/* Stile per il container */
#containerHome {
  position: relative; /* Imposta il contesto di posizionamento per gli elementi figlio */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centra il testo all'interno degli elementi */
  padding: 20px;
  height: 75vh;
  width: 80%; /* Regola la larghezza del container */
  max-width: fit-content; /* Larghezza massima del container */
  white-space: wrap;
  overflow-x: hidden;
  margin: 0.5rem auto; /* Centra il container orizzontalmente */
  background-color: #f9f9f9; /* Colore di sfondo */
  border-radius: 10px; /* Angoli arrotondati */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra per un effetto elevato */
}

/* Stile per l'elemento h3 */
.container h3 {
  position: absolute; /* Rendi fisso il posizionamento */
  top: 0; /* Fissa l'elemento in alto */
  left: 50%; /* Centra l'elemento orizzontalmente */
  transform: translateX(-50%); /* Correggi la posizione orizzontale */
  margin-bottom: 10px; /* Spazio sotto il titolo */
  font-size: 1.5em; /* Dimensione del font del titolo */
  color: #333; /* Colore del testo del titolo */
}

/* Stile per il paragrafo */
.container p {
  margin-top: 10px;
  font-size: 1.2em; /* Dimensione del font del paragrafo */
  line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
  color: #333; /* Colore del testo del paragrafo */
  max-width: 45vw;
}

/* Navbar*/
nav {
  margin: 27px auto 0;
  position: relative;
  height: 50px;
  background-color: #800000;
  border-radius: 8px;
  font-size: 0;
  font-family: "LCD2";
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  background-color: #800000; /* Colore di sfondo predefinito */
}
nav a:nth-child(1) {
  width: 100px;
}

nav a:nth-child(2) {
  width: 230px;
}

nav a:nth-child(3) {
  width: 80px;
}

nav a:nth-child(4) {
  width: 130px;
}

nav a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #ecd9d9;
  color: #800000;
}

nav a:nth-child(2):hover ~ .animation {
  width: 230px;
  left: 100px;
  background-color: #ecd9d9;
}

nav a:nth-child(3):hover ~ .animation {
  width: 80px;
  left: 330px;
  background-color: #ecd9d9;
}

nav a:nth-child(4):hover ~ .animation {
  width: 130px;
  left: 410px;
  background-color: #ecd9d9;
}

@media (max-width: 768px) {
  nav {
    width: 90vw;
  }
  nav > * {
    width: auto !important;
  }
  nav a {
    height: 50px;
    line-height: 50px;
    font-size: xx-small;
    margin-inline: 5.8vw;
  }

  nav a.change-color:hover {
    color: #ecd9d9;
    text-shadow: 0px 0px 30px #ecd9d9;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  /* nav a:nth-child(1) {
    width: 18vw;
  }
  nav a:nth-child(2) {
    width: 30vw;
  }
  nav a:nth-child(3) {
    width: 15vw;
  }
  nav a:nth-child(4) {
    width: 20vw;
  } */
}

/*Contenuto mid*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 300px);
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 40px;
  white-space: nowrap;
}

.research-filter,
.content-results {
  margin: 6px;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
  line-height: 100px;
}

/*zona di ricerca a sx*/
.research-filter {
  background-color: #ecd9d9;
  border-radius: 15px;
  margin-bottom: 40px;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; /* Allinea gli elementi verticalmente */
}

.research-filter form {
  /*contenitore filtri*/
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi verticalmente */
  margin-top: 15px;
}

@media (max-width: 780px) {
  .research-filter form {
    margin-top: 0;
  }
}

.research-filter form * {
  /*tutti gli elementi figlio nel form*/
  margin: 15px; /* Distanza tra i filtri */
}

.research-filter .search-box,
.research-filter .custom-select,
.research-filter .date-pick,
.research-filter .select-box {
  margin-bottom: 10px; /* Distanza tra i filtri */
  width: 200px; /* Larghezza uniforme */
}

@media (max-width: 768px) {
  .research-filter .search-box,
  .research-filter .custom-select,
  .research-filter .date-pick,
  .research-filter .select-box,
  .search-button,
  .add-button {
    font-size: 12px !important;
    margin-bottom: auto;
  }
}

.research-filter .search-box,
.research-filter .select-box {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  color: #9d7575;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
select.select-box {
  width: 213.6px !important;
}

/* Stile al passaggio del mouse */
.search-box:hover,
.select-box:hover {
  border-color: #999; /* Cambia il colore del bordo al passaggio del mouse */
}

/* Stile al focus */
.select-box:focus {
  outline: none; /* Rimuove il bordo di focus */
  border: 1px solid #800000;
}

/* Stile per gli option */
.select-box option {
  font-size: 14px;
  color: #333;
}
.select-box:hover {
  border-color: #9d7575; /* Cambia il colore del bordo al passaggio del mouse */
}

.research-filter .search-box:focus {
  border-bottom: 1px solid #800000;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

.buttons-container {
  display: flex; /* Utilizza Flexbox */
  justify-content: space-between; /* Spazia gli elementi uniformemente lungo la riga */
}

.search-button,
.add-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.8em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.add-button {
  border: 2px solid #800000;
  background-color: #f2f2f2f2;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #800000 inset;
  }
}

.search-button {
  border: 2px solid #800000;
  color: #fff;
  box-shadow: 0 0 30px 30px #800000 inset, 0 0 0 0 #800000;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 3px 0 #800000 inset, 0 0 3px 1px #800000;
    color: #800000;
  }
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  appearance: initial;
  -moz-appearance: textfield;
}

/*Zona di contenuto (tabelle) a dx*/
.content-results {
  background-color: white;
  flex: 0 0 70%;
  height: 95%;
  overflow: auto; /* abilita lo scorrimento all'interno del div se necessario */
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Modifica l'orientamento dei contenitori su dispositivi mobili */
    flex-wrap: nowrap;
    padding-bottom: 0;
    height: 62vh;
  }

  .research-filter,
  .content-results {
    flex: 100%; /* Entrambi i contenitori occupano tutta la larghezza */
  }
  .research-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px; /* Aggiunto padding per spaziatura */
    width: 60vw;
    align-self: center;
    height: 30vh;
    margin-bottom: 2vh;
  }
  .research-filter > * {
    font-size: 10px;
    padding: 2px;
    height: 35vh;
  }
  .research-filter form * {
    margin: 0.2rem;
  }
}

@media (max-width: 1200px) {
  .content-results {
    flex: 0 0 60%;
  }
}

/* Stile per la tabella */
.table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

/* Stile per l'header della tabella */
table tr.header {
  position: sticky;
  top: 0;
  z-index: 2;
}
th.th-cursor-pointer {
  cursor: pointer;
}
/*animazione glow
th.th-cursor-pointer:hover {
  color: white;
  text-shadow: 0px 0px 15px white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}*/

/* Stile per il contenuto della tabella */
.table th,
.table td {
  padding: 6px;
  text-align: center;
}
/* prova, stile più minimal
.table td {
  border: 1px solid #ddd; 
}
*/
.table th:first-child {
  border-top-left-radius: 10px; /* Arrotonda l'angolo superiore sinistro */
}

.table th:last-child {
  border-top-right-radius: 10px; /* Arrotonda l'angolo superiore destro */
}

tbody tr:first-child td {
  border-top: none; /* Rimuove il bordo superiore dalla prima riga dei dati */
}

.table .rowEven {
  background-color: #ecd9d9;
}

.table .rowOdd {
  background-color: #ffffff;
}

.table tr.header th {
  background-color: #800000;
  color: white;
}
.table th:not(:first-child) {
  background-color: #ecd9d9;
}
.table td a {
  color: inherit;
}
@media screen and (max-width: 768px) {
  .table th,
  .table td {
    /* Riduci le dimensioni delle colonne */
    padding: 6px;
    font-size: 12px;
  }

  /* Aggiungi una barra di scorrimento orizzontale alla tabella */
  .table {
    overflow-x: auto;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Stile per il contenitore del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 15px;
}

.close {
  color: #800000;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-input {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  color: #9d7575;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10px; /* Spazio tra gli input */
}

.modal .modal-input:focus {
  border: 1px solid #800000;
  transition: 0.5s;
}

.modal .modal-input:hover {
  border-color: #999;
}
.modal-select {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  color: #9d7575;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10px; /* Spazio tra gli input */
}

/* Stile al passaggio del mouse */
.modal-select:hover {
  border-color: #999; /* Cambia il colore del bordo al passaggio del mouse */
}

/* Stile al focus */
.modal-select:focus {
  outline: none; /* Rimuove il bordo di focus */
  border: 1px solid #800000;
  transition: 0.5s;
}

/* Stile per gli option */
.modal-select option {
  font-size: 14px;
  color: #333;
}

.table-blur {
  filter: blur(0.1px);
  opacity: 1;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #800000;
  color: white;
  padding: 9px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin-top: 35px;
}

.email-section {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.email-section p {
  /*mail*/
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.email-section svg {
  /*icona*/
  position: relative;
  top: 5px;
}
.email-section a {
  text-decoration: none; /* Rimuovi la sottolineatura */
  color: inherit; /* Utilizza il colore ereditato */
}
@media screen and (max-width: 768px) {
  footer {
    padding: 6px; /* Riduci il padding su dispositivi più piccoli */
  }

  .email-section {
    display: flex; /* Usa il flexbox per allineare gli elementi */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    justify-content: space-around; /* Distribuisce uniformemente gli elementi lungo la riga */
  }

  .email-section img {
    display: none;
  }

  .email-section p {
    margin: 0; /* Rimuove il margine predefinito */
    flex: 1; /* Fa sì che i paragrafi occupino lo stesso spazio */
    text-align: center; /* Centra il testo all'interno dei paragrafi */
  }

  .email-section p:first-child {
    margin-left: 0; /* Rimuove il margine sinistro per il primo paragrafo */
  }

  .email-section p:last-child {
    margin-right: 0; /* Rimuove il margine destro per l'ultimo paragrafo */
  }

  .email-section p a {
    color: transparent;
    position: relative;
    margin-left: 5px; /* Aggiunge uno spazio tra l'icona e il link */
    justify-self: center;
    font-size: 90%;
  }

  .email-section p a::after {
    display: inline; /* Assicurati che il contenuto sia visualizzato */
    white-space: nowrap; /* Assicurati che il testo non venga avvolto */
    overflow: hidden; /* Nascondi il testo che eccede la larghezza del contenitore */
    text-overflow: ellipsis; /* Aggiungi puntini di sospensione se il testo viene tagliato */
    color: white;
    position: absolute; /* Imposta la posizione assoluta */
    top: 0; /* Allinea il testo nuovo all'inizio del link */
    left: 0; /* Allinea il testo nuovo all'inizio del link */
  }

  .email-section p:nth-child(1) a::after {
    content: "a.brasi3"; /* Definisci manualmente il testo abbreviato */
  }
  .email-section p:nth-child(3) a::after {
    content: "l.colombo34"; /* Definisci manualmente il testo abbreviato */
  }
  .email-section p:nth-child(5) a::after {
    content: "l.poloni4"; /* Definisci manualmente il testo abbreviato */
  }
}
